ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  
  li img {
    padding-right: 10px;
    padding-top: 1px;
  }

  h3 {
    float: left;
    color: white;
  }
  
  li .textA:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: lightcoral;
  }

  body {
      background-color: lightgrey;
  }

  .summary {
    background-color: lightgray;
  }

  .textA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .rect {
    width: 70%;
    height: 80px;
    background-color: #333;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
  }

  button {
    background-color: darkgray;
    border: 2px solid lightcoral;
    color: black;
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
  }

  .clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }
  .clearfix {display:inline-block;}
  /* Hide from IE Mac \*/
  .clearfix {display:block;}
  /* End hide from IE Mac */
  
  button:hover {
    background-color: lightcoral;
    color: #333;
  }

  * {
    font-family: 'Source Sans Pro', sans-serif;;
  }