ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  
  li img {
    padding-right: 10px;
    padding-top: 1px;
  }

  h3 {
    float: left;
    color: white;
  }
  
  li .textA:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: lightcoral;
  }

  body {
      background-color: lightgrey;
  }

  .summary {
    background-color: lightgray;
  }

  .textA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .rect {
    width: 70%;
    height: 80px;
    background-color: #333;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
  }

  .money-p {
    float: left;
    text-align: center;
    padding-left: 1%;
    line-height: 40px;

  }

  button {
    background-color: darkgray;
    border: 2px solid lightcoral;
    color: black;
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
  }

  .sumbox {
    width: 60%;
    height: 40px;
    background-color: #333;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
  }
  
  .sumtext {
    line-height:1px;
    float: left;
    text-align: center;
    color: white;
    padding-left: 4%;
  }

  .search {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 15px;
    background-color: darkgray;
    color: white;
    font-size: 17px;
    margin-right: 15px;
  }

  button:hover {
    background-color: lightcoral;
    color: #333;
  }

  * {
    font-family: 'Source Sans Pro', sans-serif;;
  }

  .animationp {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }